.chat-header {
    background: linear-gradient(90deg, #6731A1 0%, #3D0BAA 100%);
    color: white;
    height: 80px;
    box-sizing: border-box;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    flex: 1;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}


