.chat-window {
    width: 390px;
    height: 579px;
    background: #F8F8F8;
    border-radius: 45px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 1000;
}

.message-date-fixed {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.message-date-fixed span {
    background-color: rgba(217, 217, 217, 0.7) !important;
    color: #666;
    font-size: 12px;
    width: 82px;
    height: 22px;
    line-height: 22px;
    border-radius: 20px !important;
    padding: 0 10px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

.chat-messages-scroll {
    flex: 1;
    padding: 35px 16px 15px;
    overflow-y: auto;
    background: #F8F8F8;
    padding-bottom: 75px;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: #3D0BAA #F8F8F8;
}

.chat-messages-scroll::-webkit-scrollbar {
    width: 8px;
}

.chat-messages-scroll::-webkit-scrollbar-thumb {
    background-color: #3D0BAA;
    border-radius: 10px;
}

.chat-messages-scroll::-webkit-scrollbar-track {
    background: #F8F8F8;
}

.chat-window::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 78px;
    background: linear-gradient(90deg, #6731A1 0%, #3D0BAA 100%);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    z-index: 1;
}